[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appnope = "==0.1.0"
backcall = "==0.1.0"
click = "==7.0"
decorator = "==4.4.1"
ipython = "==7.9.0"
itsdangerous = "==1.1.0"
jedi = "==0.15.1"
parso = "==0.5.1"
pexpect = "==4.7.0"
pickleshare = "==0.7.5"
ptyprocess = "==0.6.0"
six = "==1.12.0"
traitlets = "==4.3.3"
wcwidth = "==0.1.7"
Flask = "==1.1.1"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.3"
MarkupSafe = "==1.1.1"
prompt_toolkit = "==2.0.10"
Pygments = "==2.4.2"
PyYAML = "==5.1.2"
Werkzeug = "==0.16.0"

[requires]
python_version = "3.7"
